<div class="main-content">
    <div class="row">
        <div class="col-xl-12">
            <div class="row">
                <div class="col-xl-9">
                    <button type="button" class="btn btn-primary">Add New</button>
                </div>
                <div class="col-xl-3">
                    <form>
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Search...">
                        </div>
                      </form>
                </div>
            </div>
        </div>
        <div class="col-xl-12">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Thumbnail</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td class="btn-action">
                        <button type="button" class="btn btn-primary">View</button>
                        <button type="button" class="btn btn-warning mx-2">Edit</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
