.main-content{
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

.img-box{
    width: 200px;
    height: 250px;
    border: 1px solid #ebebeb;
}

.img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

form{
    border: 1px solid #eee;
}

.f-header{
    background-color: #eee;
    padding: 10px;
    font-size: 20px;
}

.f-body{
    padding: 20px;
}

.f-footer{
    width: 100%;
    background-color: #eee;
    padding: 10px 25px;
    float: left;
}
.f-footer #btn-save{
    float: right;
}

/* .file{
    width: 250px;
    height: 300px;
} */

.a-form{
    margin: auto;
}