<div class="main-content">
    <div class="row">
        <div class="col-xl-5 a-form">
            <form>
                <div class="f-header">
                    Book Form
                </div>
                <div class="f-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Title</label>
                        <input type="text" class="form-control" placeholder="Enter title">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Thumbnail</label>
                        <div class="img-box">
                            <img src="https://files.zymoresearch.com/images/placeholder.png" alt="thumbnail"/>
                            <!-- <input type="file" class="file"/> -->
                        </div>
                      </div>
                </div>
                <div class="f-footer">
                    <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
                </div>
              </form>
        </div>
    </div>
</div>
