<div class="main-content">
    <div class="row">
        <div class="col-xl-4 a-form">
            <form>
                <div class="f-header">
                    Category Form
                </div>
                <div class="f-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Title</label>
                        <input type="text" class="form-control" placeholder="Enter title">
                    </div>
                </div>
                <div class="f-footer">
                    <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
                </div>
              </form>
        </div>
    </div>
</div>
