
.main-content{
    width: 90%;
    margin: auto;
}

.logo{
    margin-top: 10px;
    font-family: 'Fugaz One', cursive;
    color: #fff;
    font-size: 22px;
}

.menu ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.menu ul li{
    display: block;
    float: left;
    padding: 15px 15px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.menu ul li a{
    text-decoration: none;
    color: #fff;
}

.menu ul li select{
    border: none;
    background: none;
    outline: none;
    color: #fff;
}

.menu ul li select option{
    color: #000;
    width: 200px;
}