
<div class="container-fluid navbar-dark bg-dark">
    <div class="main-content">
        <div class="row">
            <div class="col-xl-4 logo">
                Book Management System
            </div>
            <div class="col-xl-8 menu">
                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Category</a>
                    </li>
                    <li>
                        <select>
                            <option value="0">Language</option>
                            <option value="kh">Khmer</option>
                            <option value="en">English</option>
                        </select>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>